.hero-container{
    background: url(src\assets\burger-image.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0 10%;
}
.card{
    position: relative;
    top: 20%;
    background: none;
    border: none;
    /* padding: 0 20px; */
    /* margin-left: 40px; */
    color: white;
    font-size: 14px;
   
}

.btn-primary{
    padding: 10px 40px;
}

h2{
    color: rgb(235, 118, 23);
    font-weight: bolder;
}