<div class="container hero-container">
    <div class="card" style="width: 21rem;">
        
        <div class="card-body">
          <h2 class="card-title">About Foodie Spot</h2>
          <p class="card-text">Foodie Spot is a food blog created by a Passionate cook Mahlatse Tjale. In its 7 years of existence it has covered such diverse subjects as mini beef wellingtons, driving through iceland’s ring road, and making pho in a pressure cooker.
            </p>
            <br>
            <p class="card-text">
            Currently eating and cooking in South Africa :)
            </p>
            <br>
            <p class="card-text">
            Interested in working with us? Occasionally we create sponsored posts for brands that are a good fit for Foodie Spot Blog. We’re also available for recipe development & photography. Send us a quick email for more info!
          </p>
          
        </div>
      

    </div>
</div>